# DATASCIENCE CHALLENGE

Attached is the dataset with hourly energy load data for a period of 2 years and other climacteric variables.
1. Analyze variables, fill in missing values, normalize extreme values.
2. Analyse the correlation between variables by using three frequency of data:
Hourly, daily, weekly.
For daily/weekly frequency aggregate the data (for each variable using the sum or average values depending on the significance the aggregation has for the specifies variable. For ex. It makes sense the average temperature and not sum of temperature)
3. Obtain prediction models (for each frequency of observation: hourly, daily, weekly) . Feel free to use statistical and/or machine learning models, or ensemble models.
Compare different models (between the same frequency) and clearly state your final decision of the "best" model which can be used for prediction of energy load.

### 1. Analyze variables, fill in missing values, normalize extreme values.

In [53]:
# Dependencies

import pandas as pd
import numpy as np

In [54]:
# Import the database

energy_df = pd.read_csv("Energy _data.csv")
energy_df.head(10)

,Hour,energy_consumpt_2001,energy_consumpt_2002,full_temp_2001,full_humid_2001,full_temp_2002,full_humid_2002
0,1,631.623161,835.021567,-0.400000,64.000000,7.600000,82.000000
1,2,534.397104,711.875374,-0.733333,65.333333,7.733333,78.666667
2,3,453.538785,592.673215,-1.066667,66.666667,7.866667,75.333333
3,4,400.699718,526.997961,-1.400000,68.000000,8.000000,72.000000
4,5,378.171092,497.588642,-1.666667,60.333333,8.333333,69.666667
5,6,381.414605,504.506811,-1.933333,52.666667,8.666667,67.333333
6,7,419.868967,552.960299,-2.200000,45.000000,9.000000,65.000000
7,8,498.475832,665.696999,-0.666667,40.666667,9.400000,62.000000
8,9,591.495049,822.259855,0.866667,36.333333,9.800000,59.000000
9,10,655.738005,920.600669,2.400000,32.000000,10.200000,56.000000

In [55]:
# Check for missing values

# function for checking 

def missing_values_table(df):
    mis_val = df.isna().sum()
    mis_val_percent = 100 * df.isna().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

missing_values_table(energy_df)

There are 3 columns that have missing values.

                      Missing Values  % of Total Values
energy_consumpt_2001              34                0.4
full_temp_2002                    24                0.3
full_humid_2002                   24                0.3

In [56]:
# Analize variables

energy_df.describe()

,Hour,energy_consumpt_2001,energy_consumpt_2002,full_temp_2001,full_humid_2001,full_temp_2002,full_humid_2002
count,8784.000000,8750.000000,8784.000000,8784.000000,8784.00000,8760.000000,8760.000000
mean,4392.500000,488.754321,764.291985,17.602836,62.17270,18.197500,61.505023
std,2535.866716,167.554212,242.615520,8.031887,18.47477,7.713689,19.454944
min,1.000000,-614.175490,-1332.918388,-3.200000,3.00000,0.000000,4.000000
25%,2196.750000,372.264578,582.391359,11.800000,48.00000,12.066667,46.000000
50%,4392.500000,493.915280,786.779013,17.400000,65.00000,18.600000,64.000000
75%,6588.250000,571.766044,904.056715,23.600000,78.00000,24.200000,77.000000
max,8784.000000,6560.013773,9896.924643,41.000000,100.00000,36.400000,100.000000

In [57]:
# Fill in null values

energy_corrected_df = energy_df
energy_corrected_df.fillna(energy_corrected_df.mean(), None, 0, inplace = True)

missing_values_table(energy_copy_df)

There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []